<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension point="org.eclipse.ui.newWizards">
    <category
      id="FirstSpirit"
      name="FirstSpirit">
    </category>
  </extension>
  
<extension
     point="org.eclipse.ltk.core.refactoring.renameParticipants">
  <renameParticipant
    id="com.is_gr8.eclipse.firstspirit.ModuleRenameTypeParticipant"
    name="Rename Module Class" 
    class="com.is_gr8.eclipse.firstspirit.module.rename.ModuleRenameParticipant">
    <enablement>
      <with variable="affectedNatures">
        <iterate operator="or">
          <equals value="org.eclipse.jdt.core.javanature"/>
        </iterate>
      </with>
      <with variable="element">
        <instanceof value="org.eclipse.jdt.core.IType"/>
      </with>
    </enablement>
  </renameParticipant>
</extension>

  <extension point="org.eclipse.ui.editors">
    <editor
      id="com.is_gr8.eclipse.firstspirit.ModuleDescriptorEditor"
      name="FS Module Descriptor Editor"
      icon="de/adesso/eclipse/firstspirit/firstspirit.16.png"
      filenames="module.xml"
      default="true">
      <class class="org.eclipse.sapphire.ui.swt.xml.editor.SapphireEditorForXml">
        <parameter name="sdef" value="com.is_gr8.eclipse.firstspirit.module.ModuleDescriptorEditor"/>
        <parameter name="pageName" value="Module Descriptor"/>
      </class>
    </editor>
  </extension>
</plugin>
